.container{
  margin: 0 auto;
  max-width: 80%;
}
.recorder-container{
  float:left;
  margin: 40px;
  width: 40%;
  text-align: center;
};

video {
  background-color: black;
  height: 400px;
  width: 400px;
};
