.youtube-container{
  float:left;
  margin: 40px;
  width: 40%;
  text-align: center;
};

.iframeName{
  height: 300px;
  width: 500px;
  background-color: black;
};

.results {
  background-color: yellow;
};
